body{
    margin: 0;
    padding: 0;
    font-family: arial;
}

a{
    text-decoration: none;
    color : white;
}

.link-primary{
    color: rgb(1, 124, 182);
    cursor: pointer;
}

.link-primary:hover{
    color: brown;
}

select{
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(213, 217, 217);
    border-radius: 8px;
    padding: 3px 5px;
    font-size: 15px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(213, 217, 217, 0.5);
}

button{
    background-color: rgb(255, 216, 20);
    border: 1px solid rgb(252, 210, 0);
}